<p style="color: green"><%= notice %></p>

<%= render @article %>

<div>
  <%= link_to "Modifier les caractéristiques", edit_article_path(@article) %> |
  <%= link_to "Voir toutes les planètes", articles_path %>

  <%= button_to "Supprimer cette planète", @article, method: :delete %>
</div>
