<!DOCTYPE html>
<html>
 <head>
    <title>HYPERION</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      body {
        background-color: #161616;
      }
    </style>
  </head>
  <body>
    <div class="container text-center text-white pt-5">
      <a class="navbar-brand" href="/">
        <%= image_tag 'logo.svg' %>
      </a>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="text-center text-white" style="background-color: #161616;">
      <div class="container-fluid p-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Accueil</a></li>
        </ul>
        <p class="text-center text-muted text-white">© 2023 HYPERION Benazza, Twyffels</p>
      </div>
    </footer>
  </body>
</html>
