<!DOCTYPE html>
<html>
  <head>
    <title>HYPERION</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-color: #252424;">
  <nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#top">HYPE</br>RION</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Planètes</a>
        </li>
      </ul>
    </div>
  </div>
  <h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquet suscipit tortor vitae semper. Donec fermentum leo vel dic
  tum faucibus. Vestibulum molestie a arcu nec luctus. Sed vehicula nibh ut accumsan pharetra. Vestibulum in neque ut libero porttitor placerat. Nulla molestie congue felis, eget consequat lectus egest
  as vitae.</h3>
</nav>
    <%= yield %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <img src="https://cdn.discordapp.com/ephemeral-attachments/1008571165893197845/1080871954556391584/grid_0.webp" class="card-img-top img-fluid" alt="Chicago Skyscrapers">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Zephyrion est une planète fascinante et unique, située dans un système stellaire lointain. Sa dense atmosphère est principalement composée de gaz à effet de serre, créant des températures moyennes élevées et des tempêtes électriques fréquentes.</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <img src="https://cdn.discordapp.com/ephemeral-attachments/1008571165893197845/1080871954556391584/grid_0.webp" class="card-img-top img-fluid" alt="Chicago Skyscrapers">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <img src="https://cdn.discordapp.com/ephemeral-attachments/1008571165893197845/1080871954556391584/grid_0.webp" class="card-img-top img-fluid" alt="Chicago Skyscrapers">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <img src="https://cdn.discordapp.com/ephemeral-attachments/1008571165893197845/1080871954556391584/grid_0.webp" class="card-img-top img-fluid" alt="Chicago Skyscrapers">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <footer class="text-center text-white fixed-bottom" style="background-color: #0E0E0E;">
  <div class="container p-4"></div>
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
  <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Accueil</a></li>
  <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Planètes</a></li>
  <p class="text-center text-muted text-white">© 2023 HYPERION Benazza, Twyffels</p>
</div>
  </body>
</html>
